.DS_Store
.git
.gitignore
.dockerignore
.idea
*.iml

veosroot
scripts
venv
temp
resources
production
build
**/*/build
**/*/buildroot
.gradle
.gradle-cache

docker-build.sh
settings*.gradle
!settings.generic.gradle

kopycat-modules
kc*.tar.gz
