*.pyc
.gradle
target
build
out
temp

*.iml

\.idea/jarRepositories\.xml
\.idea/compiler\.xml
\.idea/encodings\.xml
\.idea/workspace\.xml
\.idea/uiDesigner\.xml
\.idea/modules\.xml
\.idea/gradle\.xml

\.idea/dictionaries
\.idea/libraries
\.idea/modules

kopycat/doc/

debuggers/kcdbg/cmake-build-win32/

debuggers/kcdbg/cmake-build-debug/

debuggers/kcdbg/\.idea/

plugins/kcdbg/cmake-build-osx/

plugins/kcdbg/cmake-build-win32/

plugins/kcdbg/cmake-build-osx-c166/

plugins/kcdbg/cmake-build-osx-v850es/

production/

!gradle/wrapper/gradle-wrapper.jar

*.til
*.nam
*.id2
*.id1
*.id0
*.idb

*.log

*.kate-swp


