*.pyc
.gradle
target
build
out
temp

*.iml

.idea/dictionaries
.idea/compiler.xml
.idea/gradle.xml
.idea/encodings.xml
.idea/workspace.xml
.idea/libraries
.idea/modules

\.idea/uiDesigner\.xml

production/

\.idea/modules\.xml